:root{
    --cd-btn: #011c37;
    --cd-txt: #15DEA5;
}
.btn {
    background: var(--cd-btn);
    color: var(--cd-txt);
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    border-radius: 10rem;
    transform: scale(1);
}